<div class="card text-center" style="width:65%; margin:5px auto;">
    
        <div class="card-header">
            <h5>{{pageTitle}}</h5>
        </div>
        
        <div class="card-block">
            <br/>
            <div class="text-center">
                <!-- <img src="../../../assets/images/imagen_portada.jpg" 
                        class="rounded" 
                        style="max-width:100%; max-height:270px;padding-bottom:10px"
                        /> -->
                <h5 class="card-title">Developed by:</h5>
                <h4 class="card-title">SYGNO TEAM</h4>
                <h5 class="text-center">@teammanager</h5>
                <h6>&copy;SYGNO TEAM - All Right Reserver since 2018</h6>
            </div>

            <div class="text-center inline input-group-sm form-group">
                <button type="button" class="btn btn-primary" [routerLink]="['/login']" style="cursor:pointer" autofocus>Iniciar Sesión</button>
                <br/>           
            </div>
    
        </div>
    </div>
    